
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowRedis</title>
</head>
<body>
	Redis Session Value:@ViewData["Redis"]
</body>
</html>
